$primary: #5265e1;
$secondary: #fa5959;

$theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
);

@import "../node_modules/bootstrap/scss/bootstrap.scss";

.bton-grey {
  background: #f7f7f5;
}
.me-nav {
  margin-right: 100px;
}
#content-manager {
  text-align: center;
  button {
    min-width: 208px;
    margin-bottom: 5px;
  }
}
#my-tabs-row {

  #tabs-2 {
    width: calc(100% - 3rem);
    text-align: center;
    #nav-tab {
      /*TODO:  cambiar por variable &&& poner en  mediaquery que toca*/
      // border-bottom: 1px solid #e0e0ea;
      width: calc(100% - 3rem);
      button.nav-link {
        border: 1px 0px 0px 0px !important;
        color: black; //TODO: cambiar por variable
        &.active,
        &:hover.active {
          border: none;
          border-bottom: 3px solid $secondary;
        }
        &:hover,
        &:focus {
          border-color: transparent;
          outline: 0px;
        }
      }
    }
    .nav-link {
      border-color: transparent;
      border-top: 1px solid silver; /*TODO: CAMBIAR COLOR*/
      position: relative;
      color: black;
      &:last-child{
        border-bottom: 1px solid silver; /*TODO: CAMBIAR COLOR*/
      }
      &:hover {
        border-top: 1px solid silver; /*TODO: CAMBIAR COLOR*/
      }
      &.active {
        font-weight: 500;
      }
      &.active:after {
        content: "";
        display: block;
        height: 3px;
        width: calc(100% - 60%);
        background-color: $secondary;
        position: absolute;
        bottom: 0px;
        left: 50%; /* Mueve el elemento a la mitad del contenedor */
        transform: translateX(
          -50%
        ); /* Lo desplaza hacia la izquierda la mitad de su propio ancho */
      }
     
    }
    
  }
}
#my-cards-row{
  .card-body{
    border-top: 3px dotted silver;
  }
}
// body{
//   background: orange !important;
// }

/******************************[ MEDIAS ]*******************************************/

/************************ ≥576px*/
@include media-breakpoint-up(sm) {
  body {
    background: rgb(218, 158, 203);
  }
}


/************************ ≥768px*/
@include media-breakpoint-up(md) {
  body {
    background: rgb(172, 219, 204);
  }
  #content-manager {
    text-align: left;
  }
  #my-tabs-row #tabs-2 #nav-tab {
    width: initial;
  }
  #tabs-2 .nav-link{
    border-top: none !important;
    &:after{
      display: none !important;
    }
    &:last-child {
        border-bottom: none !important;
    }
    &.active{
      border-bottom: 3px solid $secondary !important;
    }
    &:hover{
      color:  $secondary !important;
    }
  }
}


/************************ ≥992px*/
@include media-breakpoint-up(lg) {
  .me-nav {
    margin-right: 0px;
  }

  body {
    background: #ced1ec;
  }
}
/************************ ≥1200px*/
@include media-breakpoint-up(xl) {
  body {
    background: rgb(235, 207, 212);
  }
}

/************************ ≥1400px*/
@include media-breakpoint-up(xxl) {
  body {
    background: rgb(223, 212, 212);
  }
}
